<div class="container">
	<div class="row">
		<div class="col-lg-12">

			<% if flash[:notice] %>
				<div class="flash">
					<%= flash[:notice] %>
				</div>
			<% end %>


			<div class="welcome_top">
				<h1>welcome to <span><i class="fas fa-book"></i>Bookers !!</h1>
				<p>In <span><i class="fas fa-book"></i><b>Bookers</b>,<br>
				<p>you can share and exchange your opinions, inpressionss, and emotions</p>
				<p>about various books!</p>

				<p><%= link_to "Log in", new_user_session_path, class:"btn btn-primary btn-block" %></p>
				<P><%= link_to "Sign up", new_user_registration_path, class:"btn btn-success btn-block" %></p>
			</div>
		</div>
	</div>
</div>